.room-create-input__question-set, .quiz-answer-input__answer {
  padding-top: 2rem;
}

.quiz__score {
  padding-bottom: 2rem;
}

.room-create-input__question-set {
  list-style-type: none;
  padding-left: 0;

  li {
    padding-bottom: 2rem;
  }
}
